---
const {
  mainVideo1 = "/videos/wine-gif.mp4",
  mainImage2 = "/images/hold.png",
  iconImage = "/images/camera.svg",
  highlightText = "POPSTAR PHOTO BOOTHS",
  descriptionText = "Was Built To Help You Throw The Best Event Ever!",
  hashtag = "#POSTARPHOTOBOOTHS",
} = Astro.props;

const isVideo = (src) => {
  return src.match(/\.(mp4|webm|ogg)$/i);
};
---

<div class="container my-5">
  <div class="row staggered-images">
    <div class="col-md-5 d-flex justify-content-end">
      <div class="media-container">
        {isVideo(mainVideo1) ? (
          <video src={mainVideo1} class="media-fluid media-one" autoplay loop muted playsinline>
            Your browser does not support the video tag.
          </video>
        ) : (
          <img src={mainVideo1} alt="Media 1" class="media-fluid media-one" />
        )}
        {isVideo(mainImage2) ? (
          <video src={mainImage2} class="media-fluid media-two" autoplay loop muted playsinline>
            Your browser does not support the video tag.
          </video>
        ) : (
          <img src={mainImage2} alt="Media 2" class="media-fluid media-two" />
        )}
      </div>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center quality">
      <div class="icon-text">
        <img src={iconImage} alt="Icon" class="icon-img img-fluid mb-3" />
        <h2 class="h1 fw-bold mb-0">
          <span class="highlight-text">{highlightText}</span>
          {descriptionText}
        </h2>
      </div>
      <p class="mt-2" style="font-family: 'Cursive', sans-serif;">{hashtag}</p>
    </div>
  </div>
</div>

<style>
  .staggered-images .media-container {
    position: relative;
    width: 80%;
  }
  .staggered-images img, .staggered-images video {
    width: 100%;
    height: auto;
  }
  .staggered-images .media-one {
    position: relative;
    z-index: 2;
    margin-bottom: 60px;
    margin-left: -15%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .staggered-images .media-two {
    position: relative;
    z-index: 1;
    margin-right: -15%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .highlight-text {
    background-color: #ffd700;
    padding: 0 0.2rem;
  }
  .icon-img {
    max-height: 40px;
  }
  .fw-bold {
    font-weight: 700 !important;
  }
  .quality {
    margin-left: 40px;
  }
  @media (max-width: 767.98px) {
    .staggered-images {
      flex-direction: column;
    }
    .staggered-images .media-container {
      width: 100%;
    }
    .staggered-images .media-one,
    .staggered-images .media-two {
      margin: 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 1em;
    }
    .staggered-images .icon-text {
      margin-top: 20px;
    }
    .quality {
      margin-left: 0px;
    }
  }
</style>
