---
const boothOptions = [
  {
    mediaType: 'image',
    mediaSrc: '/images/sofar-square.png',
    alt: 'Party Booth Image',
    title: 'Chill Booth',
    description: 'Our CHILL Booth is a super fun, drop-off selfie station that includes an iPad Pro, LED ring light, custom design overlay, and unlimited digital images and boomerangs.',
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=100635"
  },
  {
    mediaType: 'image',
    mediaSrc: '/images/bw-guys.jpg',
    alt: 'Popstar Booth Image',
    title: 'Popstar Booth',
    description: 'Our flagship POPSTAR booth features a DSLR camera, professional studio lighting, unlimited prints, texting, emailing, GIFs, and a friendly booth host.',
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=84825"
  },
  {
    mediaType: 'video',
    mediaSrc: '/videos/360-square-hats.mp4',
    alt: '360 Booth Image',
    title: '360 Booth',
    description: "Like a record baby round round. Our 360 booth is super trendy and fun. Trust me, you need it. These go fast so click through to book your spot today.",
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=99889"
  },
];
---

<section class="py-5">
  <div class="container pb-3">
    <div class="row row-cols-1 row-cols-md-3 g-3">
      {boothOptions.map((booth) => (
        <div class="col pb-3">
          <div class="card shadow-sm">
            {booth.mediaType === 'video' ? (
              <video src={booth.mediaSrc} class="card-img-top" autoplay muted loop playsinline alt={booth.alt}></video>
            ) : (
              <img src={booth.mediaSrc} class="card-img-top" alt={booth.alt} />
            )}
            <div class="card-body p-4">
              <h2 class="card-title">{booth.title}</h2>
              <p class="card-text">{booth.description}</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a href={booth.buttonAction} class="btn btn-lg btn-primary" role="button">Check Availability</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
