---
const boothOptions = [
  {
    mediaType: 'image',
    mediaSrc: '/images/party-booth-1.jpeg',
    alt: 'Party Booth Image',
    title: 'Party Booth',
    description: 'Turn it up a notch with our digital booth experience! Includes unlimited gifs, boomerangs, photos and videos, text, email and bluetooth sharing.',
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=100635"
  },
  {
    mediaType: 'image',
    mediaSrc: '/images/party.jpg',
    alt: 'Popstar Booth Image',
    title: 'Popstar Booth',
    description: 'Enjoy the traditional photo booth experience with a touch of style! Fun props, chic backdrops, and instant colorful or black & white strip prints.',
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=84825"
  },
  {
    mediaType: 'image',
    mediaSrc: '/images/360-gold.jpg',
    alt: '360 Booth Image',
    title: '360 Booth',
    description: "Discover the latest in event technology with our 360 Video Booth. It offers a unique and immersive experience that will make your event unforgettable.",
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=99889"
  },
];
---

<section class="py-5">
  <div class="container pb-3">
    <div class="row row-cols-1 row-cols-md-3 g-3">
      {boothOptions.map((booth) => (
        <div class="col pb-3">
          <div class="card shadow-sm">
            {booth.mediaType === 'video' ? (
              <video src={booth.mediaSrc} class="card-img-top" autoplay muted loop playsinline alt={booth.alt}></video>
            ) : (
              <img src={booth.mediaSrc} class="card-img-top" alt={booth.alt} />
            )}
            <div class="card-body p-4">
              <h2 class="card-title">{booth.title}</h2>
              <p class="card-text">{booth.description}</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a href={booth.buttonAction} class="btn btn-lg btn-primary" role="button">Check Availability</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
