---
const boothOptions = [
  {
    mediaType: 'image',
    mediaSrc: '/images/homepage/popstar.jpg',
    alt: 'Party Booth Image',
    title: 'Party Booth - $549',
    description: 'Turn it up a notch with our digital booth experience! Includes unlimited gifs, boomerangs, photos and videos, text, email and bluetooth sharing.',
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=100635"
  },
  {
    mediaType: 'image',
    mediaSrc: '/images/homepage/party.jpg',
    alt: 'Classic Booth Image',
    title: 'Classic Booth - $799',
    description: 'Enjoy the traditional photo booth experience with a touch of style! Fun props, chic backdrops, and instant colorful or black & white stripe prints.',
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=84825"
  },
  {
    mediaType: 'image',
    mediaSrc: '/images/homepage/classy.jpg',
    alt: 'Glam Booth Image',
    title: 'Glam Booth - $799',
    description: "Step into elegance with our Glam Black & White Photo Booth. Featuring a glam skin smooth filter, everyone in your photos will look like a million bucks.",
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=99862"
  },
  {
    mediaType: 'image',
    mediaSrc: '/images/homepage/360.webp',
    alt: '360 Booth Image',
    title: '360 Booth - $999',
    description: "Discover the latest in event technology with our 360 Video Booth. It offers a unique and immersive experience that will make your event unforgettable.",
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=99889"
  },
  {
    mediaType: 'image',
    mediaSrc: '/images/homepage/neon.jpg',
    alt: 'Neon Booth Image',
    title: 'Neon Booth - $1349',
    description: 'Add a vibrant touch to your event with our Neon Booth! Complete with a custom neon sign and hedge wall, all photos are printed on premium 4x6 portraits.',
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=100633"
  },
  {
    mediaType: 'image',
    mediaSrc: '/images/homepage/glam.jpg',
    alt: 'Popstar Booth Image',
    title: 'Popstar Booth - $1549',
    description: 'Experience the celebrity treatment with our Popstar Booth! Featuring a branded backdrop, 4x6 prints, red carpet, and red velvet stanchion posts.',
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=100634"
  },
];
---

<section class="py-5">
  <div class="container pb-3">
    <div class="row row-cols-1 row-cols-md-3 g-3">
      {boothOptions.map((booth) => (
        <div class="col pb-3">
          <div class="card shadow-sm">
            {booth.mediaType === 'video' ? (
              <video src={booth.mediaSrc} class="card-img-top" autoplay muted loop playsinline alt={booth.alt}></video>
            ) : (
              <img src={booth.mediaSrc} class="card-img-top" alt={booth.alt} />
            )}
            <div class="card-body p-4">
              <h2 class="card-title">{booth.title}</h2>
              <p class="card-text">{booth.description}</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a href={booth.buttonAction} class="btn btn-lg btn-primary" role="button">Check Availability</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
