---
const photos = [
  { src: 'images/backdrops/1.jpg', alt: 'Photo 1 description' },
  { src: 'images/backdrops/2.jpg', alt: 'Photo 1 description' },
  { src: 'images/backdrops/3.jpg', alt: 'Photo 1 description' },
  { src: 'images/backdrops/4.jpg', alt: 'Photo 1 description' },
];
---
<section class="photo-grid">
  <div class="container-fluid h-100 px-0">
    <div class="row h-50 gx-0">
      {photos.slice(0, 2).map((photo, index) => (
        <div class="col-6 p-0" key={index}>
          <img src={photo.src} alt={photo.alt} class="img-fluid full-screen" />
        </div>
      ))}
    </div>
    <div class="row h-50 gx-0">
      {photos.slice(2, 4).map((photo, index) => (
        <div class="col-6 p-0" key={index}>
          <img src={photo.src} alt={photo.alt} class="img-fluid full-screen" />
        </div>
      ))}
    </div>
  </div>
</section>


<style>
 .photo-grid img {
  width: 100%;
  height: auto;
  display: block;
  border: 3px black solid;
}

.photo-grid .row {
  margin: 0;
}

.photo-grid .col-6 {
  padding: 0;
}

@media (max-width: 768px) {
  .photo-grid .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
</style>
