---
const {
  mainImage1 = "/images/search-1.jpeg",
  mainImage2 = "/images/search-3.jpeg",
  mainImage3 = "/images/search-9.jpeg",
  mainImage4 = "/images/search-10.jpeg",
  highlightText = "Search No Further...",
  descriptionText = "We Create Professional Photos That Look Really Good & An Experience That Your Guests Will Remember!",
} = Astro.props;
---

<section>
  <div class="container my-5">
    <div class="row staggered-images justify-content-center text-center">
      <div class="col-12 d-block d-md-none mb-4">
        <div class="quality">
          <h2 class="display-6 fw-bold">{highlightText}</h2>
          <p class="h5 mt-3 fw-light">{descriptionText}</p>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center mb-4">
        <div class="image-container">
          <img src={mainImage1} alt="Image 1" class="img-fluid img-one" />
        </div>
      </div>
      <div class="col-md-4 text-center mb-4 d-none d-md-block">
        <div class="quality">
          <h2 class="display-4 fw-bold">{highlightText}</h2>
          <p class="h5 mt-3 fw-light">{descriptionText}</p>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center mb-4">
        <div class="image-container">
          <img src={mainImage2} alt="Image 2" class="img-fluid img-two" />
        </div>
      </div>
    </div>
    <div class="row staggered-images justify-content-center mt-4">
      <div class="col-md-4 d-flex justify-content-center mb-4">
        <div class="image-container">
          <img src={mainImage3} alt="Image 3" class="img-fluid img-three" />
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center mb-4">
        <div class="image-container">
          <img src={mainImage4} alt="Image 4" class="img-fluid img-four" />
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  section {
    margin-top: 10em;
  }
  .staggered-images .image-container {
    position: relative;
    width: 90%; /* Adjust this value as needed to make the images smaller */
  }
  .staggered-images img {
    width: 100%;
    height: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More pronounced shadow for pop-out effect */
  }
  .staggered-images .img-one {
    margin-left: -10%; /* Offset to the left */
  }
  .staggered-images .img-two {
    margin-right: -10%; /* Offset to the right */
  }
  .staggered-images .img-three {
    margin-left: -10%; /* Offset to the left */
  }
  .staggered-images .img-four {
    margin-right: -10%; /* Offset to the right */
  }
  .highlight-text {
    background-color: #ffd700; /* Gold background color */
    padding: 0 0.2rem;
  }
  .fw-light {
    font-weight: 300 !important; /* Thinner font weight */
  }
  .quality {
    margin-left: 0;
  }

  @media (max-width: 767.98px) {
    section {
      margin-top: 2em;
    }
    .staggered-images {
      flex-direction: column;
    }
    .staggered-images .image-container {
      width: 100%;
    }
    .staggered-images .img-one,
    .staggered-images .img-two,
    .staggered-images .img-three,
    .staggered-images .img-four {
      margin: 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lighter shadow for mobile */
      margin-bottom: 0em;
    }
    .quality {
      margin-left: 0px;
    }
  }
</style>
